<div class="godas-navbar">
  <div class="row auto">
    <div class="col">
      <ul>
        <li class="brand">GODAS</li>
        <li class="active"><a href="">Get Address</a></li>
        <li class="search"><input type="text" class="search" placeholder="Find a location" id="address"></li>
        <li><a href="">What's GODAS</a></li>
        <li><a href="">Github</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="godas-map">Maps go here</div>