body {
  font-family: 'Lato', sans-serif;
}
.godas-navbar {
  padding: 15px 40px;
  border: none;
  background: #131313;
  ul { padding: 0; margin: 0; display: block;}
  li.brand {
    letter-spacing: 5px;
    color: #fff;
    font-weight: 900;
    font-size: 25px;
    margin-top: 6px;
    margin-right: 20px;

    .ltr-1 { color: orangered; }
    .ltr-2 { color: yellow; }
    .ltr-3 { color: greenyellow; }
    .ltr-4 { color: deepskyblue; }
    .ltr-5 { color: deeppink; }
  }
  li {
    list-style: none;
    float: left;
    margin-right: 15px;

    a {
      font-weight: bold;
      padding: 7px 15px;
      margin: 0;
      border: none;
      border-radius: 3px !important;
      text-shadow: none;
      font-size: 15px;
      color: #666;
      text-decoration: none;
      display: block;
    }

    a:hover {
      color: #f8f8f8;
    }
  }

  li.active {
    a {
      text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.60);
      //border: 1px solid #eee;
      //background: #1c86f2;
      background: rgb(53, 53, 53);
      color: #fff;
    }

    a.hover {
      background: #4ca0f5;
      color: #fff;
    }
  }

  li.search {
    min-width: 320px;
    form {
      margin-bottom: 0;
    }
  }
}
.godas-navbar:after {
  clear: both;
}

#godas-map {
  height: 100%;
  background: #4ca0f5;

  // Fix Kube overwriting Google Maps
  button {
    min-height: 0 !important;
  }
}